<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
<style>
	body {
    background-color: #eee;
}
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}
*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

</head>
<body>

<div data-ng-app="myApp">
<div data-ng-controller="UserController as ctrl" class="ng-scope">

 <div class="container">

            <form class="form-horizontal" data-ng-submit="ctrl.login()" method="post">
                <br><br><br><br>
                 <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Login Form</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input type="email" data-ng-model="ctrl.user.u_email" class="form-control" placeholder="E-mail" name="email" >
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" data-ng-model="ctrl.user.u_password" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    		<div class="col-sm-6-sm-offset-3"><a role="button"  href="#/register" class="btn btn-block btn-info">
                        New User?? Click Here to Register</a></div>
                        
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
            
    
               <!--  <div class="form-group">
					<label for="username" class="col-sm-3 control-label" >UserName</label>
					   <input type="text" class="form-control" ng-model="ctrl.user.u_email" placeholder="Email"class="form-control" autofocus>
                
					<div class="col-sm-6">
                  </div>
                </div> 
				
				<div class="form-group">
					<label for="password" class="col-sm-3 control-label" >Password</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" ng-model="ctrl.user.u_password" placeholder="Password"class="form-control" autofocus>
               
                    </div>
                </div>
				
                 <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                        <div class="col-sm-6-sm-offset-3"><a role="button"  href="#/register" class="btn btn-block btn-info">
                        New User?? Click Here to Register</a></div>
                        
                    </div>
                </div>
  -->
           

      
 </form>
</div></div></div>
</body>
</html>