<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container">
	<div class="modal-content" ng-app="myApp" ng-controller="AdminController as ctrl">
	
		<div class="modal-header">
		<div class="modal-title col-sm-6"><br><br><br><br>
			<h4>LIST OF Pending USER'S to be Approved</h4>
		</div>
		<br><br><br>
        
      	</div>
      <div class="modal-body">
       	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email Address</th>
				<th>User Role</th>
				<th colspan="2"><center>OPTIONS</center></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="100%" colspan="6" data-ng-show="!ctrl.pendingUsers">Sorry..!! No New User Request Found.</td>
			</tr>
			<tr data-ng-repeat="user in ctrl.pendingUsers ">
			
				<td width="10%">{{user.u_id}}</td>
				<td width="20%">{{user.u_name}}</td>
				<td width="30%">{{user.u_email}}</td>
				<td width="10%">{{user.u_userRole}}</td>

				<td width="10%">
					<button class="btn btn-success btn-block" data-ng-click="ctrl.SelectedapproveUser(user.u_id,'A')" onclick="return confirm('Are You Sure Want to Accept this??');">ACCEPT</button>
				</td>
				<td width="10%">
					<button class="btn btn-danger btn-block" data-ng-click="ctrl.SelectedapproveUser(user.u_id,'R')" onclick="return confirm('Are You Sure Want to Reject this??');">Reject</button>
				</td>
				
				
			</tr>

		</tbody>

	</table>
      </div>
     
	</div>
</div>




</body>
</html>