
<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<div ng-app="myApp" ng-controller= "UserController as ctrl" class="ng-scope">
<form data-ng-submit="ctrl.submit()" method="post">



<label>User Registration Form</label>
<input type="radio" data-ng-model="ctrl.user.u_userRole" value="Student">Student
<input type="radio" data-ng-model="ctrl.user.u_userRole" value="Alumni">Alumni
<input type="radio" data-ng-model="ctrl.user.u_userRole" value="Employee">Employee
<br><br>
ID<input type="number" data-ng-model="ctrl.user.u_id" placeholder="Enter your ID"><br>

Firstname<input type="text" data-ng-model="ctrl.user.u_firstname" placeholder="Enter your firstname"><br>
LastName<input type="text" data-ng-model="ctrl.user.u_lastname" placeholder="enter your lastname"><br>

Password<input type="text" data-ng-model="ctrl.user.u_password" placeholder="enter your password"><br>
Address<input type="text" data-ng-model="ctrl.user.u_address"placeholder="enter your address"><br>
Email<input type="email" data-ng-model="ctrl.user.u_email" placeholder="enter your email"><br>
Contact No.<input type="number" data-ng-model="ctrl.user.u_contact" placeholder="enter your contact number"><br>
<br>
<input type="submit" value="sign up">



</form>
</div>
</body>

</html>