<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Event </title>
</head>
<body>

<div data-ng-app="myApp" data-ng-controller="EventController as ctrl">
<form data-ng-submit="ctrl.submit()" method="post">
<br><br><br><br>
<label> Event </label><br>
<br>
<br>

Title <input type="text" data-ng-model="ctrl.event.e_title" placeholder="Enter your title"><br>
Description <input type="text" data-ng-model="ctrl.event.e_desc"  placeholder="Enter your desc">

<input type="submit" value="sub">
</form>
</div>




</body>
</html>