																																											<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>blog</title>
</head>
<body>
<div data-ng-app="myApp" data-ng-controller="BlogController as ctrl">
<form data-ng-submit="ctrl.submit()" method="post">
ID <input type="text" data-ng-model="ctrl.blog.b_id"  placeholder="Enter your id"><br>

Title <input type="text" data-ng-model="ctrl.blog.b_title" placeholder="Enter your title"><br>
Description <input type="text" data-ng-model="ctrl.blog.b_desc"  placeholder="Enter your desc">
<input type="submit" value="sub">
</form>
</div>

</body>
<script type="text/javascript" src="c_blog/BlogController.js"></script>
<script type="text/javascript" src="c_blog/BlogService.js"></script>
</html>