<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div data-ng-app="myApp" class="container" data-ng-controller="JobController as ctrl" class="ng-scope">

<form name="form" data-ng-submit="ctrl.submit()" role="form" method="post">
 <label>Job Form</label>
<br>

<br><br><br><br>
Title<input type="text" data-ng-model="ctrl.job.j_title" placeholder="Enter your firstname"><br>
Description<input type="text" data-ng-model="ctrl.job.j_desc" placeholder="enter your lastname"><br>

Job Role<input type="text" data-ng-model="ctrl.job.j_Role" placeholder="enter your role"><br>
Location<input type="text" data-ng-model="ctrl.job.j_loctn"placeholder="enter your address"><br>
Email<input type="text" data-ng-model="ctrl.job.email"placeholder="enter your email"><br>
Contact<input type="text" data-ng-model="ctrl.job.contact"placeholder="enter your contact"><br>
<input type="submit" value="sub"> 		
</form>
</div>
</body>
</html>